body {
  background: Crimson;
  margin-left: 26vw;
}

#editor {
  background: Grey;
  padding: 0px;
}

#preview {
  background: Coral;
}

#preview, #editor {
  display: inline-block;
  height: 60vh;
  width: 40%;
}
